{% load static %}

{% block sidebar %}
<div>TODO cached sitemap by both lang and role</div> 
<div>sitemap:</div> 
{% for dashboard in sitemap %}
    <div>
	{% if dashboard.path %}
	<a href="/{{dashboard.path}}">{{ dashboard.name }}</a>
	{% else %}
	{{ dashboard.name }}
	{% endif %}
    </div>
    <ul>
    {% for panel in dashboard.panels %}
	{% if panel.path %}
	<li><a href="/{{panel.path}}">{{ panel.name }}</a></li>
	{% else %}
        <li>{{ panel.name }}</li>
	{% endif %}
    {% endfor %}
    </ul>
{% endfor %}
{% endblock %}

{% block content %} <img src="{% static "site.png" %}" /> {% endblock %}
